@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.container{
    padding: 20px 200px;
    display: flex;
    flex-direction: column;
    font-family: "Blinker", sans-serif;
    align-items: center;
    padding: 100px 500px;
    background-color: #F8F9FA;

}
.yazi{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        font-size: 60px;
        font-weight: 400;
    }
}
.part{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 60;
    padding: 30px 0;
    gap: 50px;
    
}
.ic{
    width: 30%;
    display: flex;
    height: 45%;
    display: flex;
    justify-content: space-between;
    
}
.aciq{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    h3{
        font-size: 25px;
        font-weight: 500;
    }
    p{
        font-size: 20px;
        font-weight: 300;
    }
    a{
        text-decoration: none;
        color:#F16821 ;
    }
}